*{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #ffffff;
      position: fixed;
      top: 40%;
      left: 48.5%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main{
    --block-background-color: rgb(73, 179, 211);
  }
  .head{
    --block-background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .input{
    padding-top: 3px;
    --block-background-color: white;
  }
  .submit-btn{
  padding-top: 3px;
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(63, 235, 129);
  }
  iframe{
    border: none;
  }
  .dnbtn{
    margin-left: auto;
  }
  #night-btn{
    --block-background-color:black;
    padding-left: 4px;
    height: 25px;
    width: 25px;
    border: none;
  }
  #day-btn{
    --block-background-color:white;
    padding-left: 4px;
    height: 25px;
    width: 25px;
    border: none;
  }
 /* @media screen and (max-width: 920px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 48%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:100px;
    margin-left: auto;
    margin-right: auto;
  }
 }
@media screen and (max-width: 470px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 47%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 320px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 46%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-height: 610px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 48%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:80px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-height: 585px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 48%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-height: 550px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 48%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-height: 518px) {
  *{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
      font-family: 'Ubuntu', sans-serif;
      background-color: #949494;
      position: fixed;
      top: 35%;
      left: 48%;
      margin-top: -50px;
      margin-left: -108px;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .main-div{
    --block-background-color: rgb(245, 252, 150);
  }
  
  .submit-button, .copy-button, .qr-btn{
  margin-left: auto;
  margin-right: auto;
  --block-background-color: rgb(175, 243, 255);
  }
  
  .long-url, .short-url{
  margin-left: auto;
  margin-right: auto;
  --block-background-color:white;
  }

  .gmf-btn{
    text-align: center;
    top:15px;
    margin-left: auto;
    margin-right: auto;
  }
} */